.bottomSheet {
    z-index: 1;
    background-color: var(--black);
    border-top: solid 1px var(--white);
    border-radius: 0;
    padding-bottom: 2rem;

    .instructions {
        font-size: 70%;
        background-color: var(--blue);
        padding: 0.5rem;
    }
}