.fileExplorer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .fileExplorerGrid {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.fileExplorerSkeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;

  .breadCrumbsSkeleton {
    width: 100%;
    border: solid 1px var(--grey);
    background-color: var(--lightBlack);
    height: 3.1rem;
  }

  .fileExplorerGridSkeleton {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;

    .treeItemSkeleton {
      height: 3.1rem;

      border: solid 1px var(--grey);
      background-color: var(--lightBlack);
    }
  }
}