.fileEditorSkeleton {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    .textLineSkeleton {
        background: var(--darkGrey);
        height: 1.5rem;
    }
}