#toolBar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: calc(100% - 2rem);
    bottom: 1rem;
    left: 1rem;
    background-color: var(--lightBlack);
    border-radius: var(--borderRadiusXL);
    padding: 0.5rem;
}

.bottomSheet {
    .bottomSheetBackdrop {
        backdrop-filter: blur(4px);
    }

    .bottomSheetHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .bottomSheetContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: var(--lightBlack) !important;
        padding: 2rem 1rem 3rem 1rem;
        border-radius: var(--borderRadiusM) var(--borderRadiusL) 0 0;

        // Bottom sheet content
        .react-modal-sheet-content-scroller {
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2rem;
            }
        }
    }
}