#toolBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: calc(100% - 2rem);
    bottom: 1rem;
    left: 1rem;
    background-color: var(--lightBlack);
    // border-radius: var(--borderRadiusXL);
    border: solid 1px var(--grey);
    padding: 0.5rem;
}