#reposListContainer {
    width: 100%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: solid 1px var(--lightGrey);
    // border-radius: var(--borderRadiusM);
    gap: 1rem;

    h2 {
        text-align: center;
    }

    #reposList {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .repoSkeleton {
            width: 100%;
            padding: 1.3rem 0;
            background-color: var(--grey);
            margin-top: 0.5rem;
        }
    }
}