#reposListContainer {
    width: 100%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border: solid 1px var(--lightGrey);
    // border-radius: var(--borderRadiusM);
    gap: 1rem;

    h2 {
        text-align: center;
    }

    #reposList {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .repo {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: var(--grey);
            padding: 1rem;
            border-radius: var(--borderRadiusM);
        }
    }
}