#reposListContainer {
    width: 100%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background: var(--lightBlack);
    // border-radius: var(--borderRadiusM);
    gap: 1rem;

    h2 {
        text-align: center;
    }

    #reposList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        overflow-y: scroll;

        .repo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: var(--grey);
            padding: 1rem;
            border-radius: var(--borderRadiusM);
        }
    }
}