@import "tailwindcss";
@plugin "@tailwindcss/typography"; 

:root {
  --mainBoxShadow: var(--Black) 2px 2px 5px;
  --bigBoxShadow: var(--Black) 0px 10px 30px;
  --borderRadiusM: 0.5rem;
  --borderRadiusL: 1.5rem;
  --borderRadiusXL: 2rem;

  --white: #ffffff;
  --black: #101010;
  --lightBlack: #202020;
  --grey: #404040;
  --green: #00a674;
  --darkGreen: #003e2c;
}

::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.end {
  display: flex;
  justify-content: end;
  align-items: center;
}

body {
  font-family: "Oxanium-light", sans-serif;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  height: 100svh;
}

.clickableItem {
  transition: 0.2s;
  &:not(:disabled):active {
    scale: 1.05;
    filter: invert(1);
  }
  &:disabled {
    opacity: 50%;
  }
}

.disabledLink {
    pointer-events: none;
    opacity: 50%;
}

.mainButton {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  border-radius: var(--borderRadiusL);
  span {
    margin: 0 1rem;
  }
}

.fileExplorer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  .fileExplorerGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}
