@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --mainBoxShadow: var(--Black) 2px 2px 5px;
  --bigBoxShadow: var(--Black) 0px 10px 30px;
  --borderRadiusM: 0.5rem;
  --borderRadiusL: 1.5rem;
  --borderRadiusXL: 2rem;

  --white: #ffffff;
  --darkWhite: #e6e6e6;
  --black: #101010;
  --lightBlack: #181818;
  --darkGrey: #252525;
  --grey: #303030;
  --lightGrey: #404040;

  --green: #00a674;
  --darkGreen: #003e2c;

  --red: #d62828;
}

::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.end {
  display: flex;
  justify-content: end;
  align-items: center;
}

body {
  font-family: "SpaceMono-Regular", sans-serif;
  font-weight: 100;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  height: 100svh;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.2;
}

.clickableItem {
  transition: 0.2s;
  &:not(:disabled):active {
    scale: 0.95;
  }
  &:disabled {
    opacity: 50%;
  }
}

.disabledItem {
  pointer-events: none;
  opacity: 50%;
}

.mainButton {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border: solid 0.5px var(--darkWhite);

  span {
    margin: 0 1rem;
  }
}

.fileExplorer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  .fileExplorerGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}
