@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Regular";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --mainBoxShadow: var(--Black) 2px 2px 5px;
  --bigBoxShadow: var(--Black) 0px 10px 30px;
  --borderRadiusM: 0.5rem;
  --borderRadiusL: 1.5rem;
  --borderRadiusXL: 2rem;

  --glass: hsla(0, 0%, 100%, 0.1);

  --white: #ffffff;
  --darkWhite: #e6e6e6;

  --black: #000000;
  --lightBlack: #181818;

  --darkGrey: #252525;
  --grey: #303030;
  --lightGrey: #909090;

  --green: #00a674;
  --darkGreen: #003e2c;

  --red: #fd2601;

  --blue: #083bfe;
}

/* Prevent zoom on input focus (iOS Safari) */
input,
textarea,
select {
  font-size: 16px;
  touch-action: manipulation; /* Faster touch response */
}

/* Disable text selection/zoom cues */
* {
  touch-action: manipulation;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.end {
  display: flex;
  justify-content: end;
  align-items: center;
}

body {
  font-family: "SpaceMono-Regular", sans-serif;
  font-size: 1.2rem;
  background-color: var(--black);
  background-image: radial-gradient(var(--lightBlack) 1px, transparent 1px);
  background-size: 16px 16px;
  color: var(--white);
  width: 100%;
  height: 100svh;
}

h1 {
  font-size: 150%;
  font-weight: 600;
  letter-spacing: 0.2;
}

h2 {
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 0.2;
}

.clickableItem {
  transition: 0.2s;
  &:disabled {
    opacity: 50%;
  }
  &:not(:disabled):active {
    scale: 0.95;
    background-color: var(--lightBlack);
  }
}

.disabledItem {
  pointer-events: none;
  filter: brightness(0.5);
}

.mainButton {
  width: 100%;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border-bottom: solid 1px transparent;

  span {
    margin: 0 1rem;
  }

  &:disabled {
    opacity: 50%;
  }
  &:not(:disabled):active {
    scale: 0.95;
    border-bottom: solid 1px var(--white);
  }
}

.accentButton {
  background-color: var(--white);
  color: var(--black);
}

.loader {
  width: 90px;
  height: 14px;
  --c: var(--white) 90deg, var(--black) 0;
  background: conic-gradient(from 135deg at top, var(--c)) 0 0, conic-gradient(from -45deg at bottom, var(--c)) 0 100%;
  background-size: calc(100% / 4) 50%;
  background-repeat: repeat-x;
  animation: l12 1s infinite;
}

@keyframes l12 {
  80%,
  100% {
    background-position: calc(100% / 3) 0, calc(100% / -3) 100%;
  }
}

/* This overwrites the default Tailwind's styling that interferes with some components of the react-markdown library */
.markdown > * {
  all: revert;
}
