.folder {
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--mainBorderRadius);
    background-color: var(--lightBlack);
    padding: 1rem 0;
    gap: 0.5rem;
}