.treeItem {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // border-bottom: solid 1px var(--grey);
    padding: 0.5rem 0.5rem;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-bottom: 6rem;

    &:focus {
        outline: none;
    }
}

.test {
    background-color: red !important;
}