.treeItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--borderRadiusM);
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    min-width: 0;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

.breadCrumbs {
    width: 100%;
    background-color: var(--lightBlack);
    border-radius: var(--borderRadiusL);
    padding: 0.5rem;
    overflow: hidden;
    position: relative;

    .scrollableContent {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        gap: 0.5rem;
        border-radius: inherit;

        .breadCrumb {
            width: fit-content !important;
            min-width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-shrink: 0;
            background-color: var(--grey);
            border-radius: var(--borderRadiusL);
            padding: 0.2rem 0.5rem;
        }
    }

}

textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-bottom: 6rem;
    &:focus {
        outline: none;
    }
}