.treeItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: var(--mainBorderRadius);
    padding: 1rem 0.5rem;
    gap: 0.5rem;
    min-width: 0;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

.breadCrumbs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--lightBlack);
    border-radius: var(--bigBorderRadius);
    padding: 0.5rem;
    gap: 0.5rem;
    overflow-x: auto;

    .breadCrumb {
        width: fit-content !important;
        min-width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        background-color: var(--grey);
        border-radius: var(--bigBorderRadius);
        padding: 0.2rem 0.5rem;
    }
}