.treeItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 1px var(--lightGrey);
    padding: 0.8rem 0.5rem;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

.breadCrumbs {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: solid 1px var(--lightGrey);

    backdrop-filter: blur(15px);
    padding: 1rem 0.5rem;
    overflow: hidden;

    .scrollableContent {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        gap: 0.5rem;
        border-radius: inherit;

        .breadCrumb {
            width: fit-content !important;
            min-width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-shrink: 0;
            background-color: var(--blue);
            color: var(--white);

            font-family: "SpaceMono-Regular", sans-serif;
            font-weight: lighter;
            padding: 0.2rem 0.5rem;
        }
    }

}

textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-bottom: 6rem;

    &:focus {
        outline: none;
    }
}

.test {
    background-color: red !important;
}