.bottomSheet {
    z-index: 1;
    background-color: var(--mainBackground);
    border-top: solid 1px var(--foreground);
    border-radius: 0;
    padding: 2rem 0 3rem 0;

    .instructions {
        font-size: 70%;
        background-color: var(--accent);
        padding: 0.5rem;
    }
}